:host {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loader {
	color: var(--accent-background);
}